.fade-in{
    animation: fadein 1s ease-in-out 1;
}
.fade-in:in-range{
    
}
@keyframes fadein {
    0%{
        display: none;
        transform: translateX(-100px);

    }
    50%{
        display: block;
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}