.page-head{
    min-height: 300px;
    padding-top: 150px;
    box-sizing: border-box;
    color: white;
    position: relative;
    background-blend-mode: multiply;
}
.about-img{
    background:linear-gradient(rgba(18, 140, 253, 0.801),#1328cc), url("../assets/IMG-20211222-WA0015.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.page-head h2{
    font-size: 40px;
}
#about-content img{
    width: 100%;
}
.page-content>div:not(:first-child){
    padding: 20px 0;
}
.team-member>div{
    position: relative;
}
.team-member-desc{
    position: absolute;
    background-color: #050A30;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    transition: 0.5s ease-in-out;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.team-member:hover .team-member-desc{

    opacity: 1;
}
.team-member-img img{
    height: 100%;
    object-fit: cover;
}
.team-member-img{
    height: 100%;
    object-fit: cover;
}
.list-group .active{
    background-color: #050A30 !important;
    border: none !important;
    color: white !important;
}
#about-content h3{
    color: #050A30;
    text-transform: uppercase;
}
#about-content p{
    text-align: justify;
}
.table-of-content{
    position: sticky;
    top: 40px;
}
.galleryimg-group{
    position: relative;
}
.galleryimg-desc{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 30px;
    background-color: #050a30a2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    opacity: 0;
    transition: 0.5s ease;
    flex-direction: column;
    align-items: end;
    backdrop-filter: blur(5px);
}
.galleryimg-group:hover .galleryimg-desc{
    opacity: 1;
}
.contact-img img{
    
}