@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
/* .serif{
    font-family: serif;
} */
/* html{
    overflow-x:hidden ;
} */
.custom-shape-divider-bottom-1659948710 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1659948710 svg {
    position: relative;
    display: block;
    width: calc(165% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1659948710 .shape-fill {
    fill: #f4f9ff;
}
:root{
    --primaryColor: #050A30 ;
    --SecondaryColor: #050A30 ;
    --footer:#1328e7ec;
    /* --tertiaryColor:;
    --textHeader:;
    --text */
    box-sizing: border-box;

}
.theme1{
    background-color: #03045e;
}
.swiper {
    width: 600px;
    height: 300px;
}

h3{
    font-size: 20px !important;
}
p{
    font-weight: 400 !important;
    font-size: 16px;
    line-height: 1.5;
}
img {
    width: 100;
    object-fit: cover;
}
/* .heading{
    margin-bottom: 30px;
} */
#news{
    background:linear-gradient(rgba(255, 255, 255, 0.932),rgba(255, 255, 255, 0.932)), url('../assets/patterns/blue-white-line-pattern_1339-600.webp');
}

.news-head{
    position: relative;
}
.news-elem {
    background-color: white;    
    margin: 10px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.041);
    border-radius: 5px;
    /* min-height: 100%; */
}
.news-elem img{
    border-radius: 5px;
}
.news-bottom {
    height: 150px;
    max-height: 200px;
}
.news-bottom h4{
    color:#00043f;
    font-size: 20px !important;
}
.event-body h3{
    font-size: 20px;
    color: #00043f;
}
.event-body p{
    color: #06001be1;
}
#Events{
    background-color: #338bff1a !important;
    /* color:white; */
}

.navbar{
    z-index: 1;
}

.floating{ 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 50px); }
    100%   { transform: translate(0, -0px); }   
}

@media screen and (max-width:700px) {
    #hero-caption {
        font-size: 50px !important;
    }
    .navbar-collapse {
        transition: 0.1s;
        position: absolute;
        z-index: 3;
        min-width: 100%;
        left: 0;
        top: 0;
        min-height: 100vh;  
        backdrop-filter: blur(10px);
        background-color: #050a30f5;
        padding: 30px;  

    }
    .navbar-collapse .dropdown-menu{
        /* background: linear-gradient(0deg,rgba(255, 255, 255, 0.394),rgba(255, 255, 255, 0.04))  !important; */
        background-color: transparent;
        color: white !important;
        padding: 0;
    }
    .nav-link{
        padding:20px 20px !important;
        transition: 0.5s ease;
        border-bottom: 1px solid rgba(255, 255, 255, 0.082);
        border-radius: none !important;
        width: 100%;
    }
    .nav-link:hover{
        background-color:rgba(255, 255, 255, 0.295);
        padding-left: 40px;
        /* box-shadow: 0 5px 10px #00043f35; */
    }
    #nav-btn{
        box-sizing: border-box;
    }
    .navbar-collapse .dropdown-item{
        color: white;
        padding: 20px;
    }
    
    p{
        font-size: 14px !important ;
        /* text-align: justify; */
        line-height: 1.5;
    }
    #about p{
        font-size: 13px !important;
    }
    section{
        padding: 50px 0px !important;
    }
    .hero-content p{
        font-size: 12px;
    }
    footer li,footer p, footer a{
        font-size: 12px;
    }
    .hero-svg{
        width: 80% !important;
        left: 50% !important;
    }
}

a {
    text-decoration: none !important;
}

body {
    background: rgba(255, 255, 255, 0.445), url('../assets/pexels-mudassir-ali-2680270.jpg');
    background-color: ghostwhite !important;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Nunito Sans",sans-serif !important;
}

header {
    background: linear-gradient(0deg,#050a30f6,#050a30f5);
    /* background-blend-mode:multiply ; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    /* background-blend-mode: multiply; */
}

.nav-brand {
    color: rgb(3, 0, 0);
}

.nav-link {
    padding: 15px 10px ;
    transition: .3s ease-in-out;
    /* background: ; */
}

.nav-link:hover {
    color: #050A30 !important;
}

#hero {
    color: #ffffff;
    min-height: calc(100vh - 125px);
    position: relative;
}

#hero h1 {
    font-size: 80px;
    font-weight: 800;
    font-family: "playfair";
}

#hero-content p {
    font-size: 22px;
    margin-bottom: 40px;
}

#hero-img {
    width: 90%;
}

#hero-img img {
    border-radius: 20px;
    width: 80%;
}
#icon-stack{
    background-color: #00032934;
    border-radius:50px;
    color: #ffffff53;
}
#header-icon-stack{
    background-color: #180874;
    border-radius:0 30px 30px 0;
    padding: 0 15px;
    color: #ffffffb2;
    border: rgba(255, 255, 255, 0.075) 1px solid;
    box-shadow: 0 0 10px#e7e9ff0d ;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 306px;
    transition: 1s ease;
}
#header-icon-stack:hover{
    color: #03045e;
    background-color: #f1f2ff;
}
#header-icon-stack ion-icon:hover{
    font-size: 45px !important;
}
#svg-stroke {
    position: absolute;
    width: 40%;
    left: 0;
    z-index: 0;
}

#hero-caption {
    z-index: 10;
}


#brush {
    display: none;
}

section ion-icon:not(#about ion-icon) {
    transition: 0.5s ease-in-out;
    color: #03045e;
}

.active {
    color: rgba(255, 255, 255, 0.521) !important;
    /* border-bottom: 1px solid yellow; */
}

section {
    padding: 100px 0;
}


#about,.shape-fill{
    background:linear-gradient(0deg,#0073ffbe,#0073ffa8),url('../assets/pexels-dazzle-jam-1029783.jpg') ;
    background-position: center left;    
    background-repeat: no-repeat;
    background-size: cover;
}

#about p{
    font-size: 20px;
    line-height:1.7;
}

.about-card {
    transition: 0.5s ease-in-out;
    border: 1px dashed rgba(165, 165, 165, 0.233);
    border-radius: 20px;
    transform-style: preserve-3d;
    perspective: 60deg;
    background:linear-gradient(180deg,white,#f4f9ff)  ;
}

.about-card:hover {
    border: 1px dashed rgba(0, 0, 0, 0.308);
    border-radius: 20px;
    background-color: #ffffff3f;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.098);
    background: linear-gradient(0deg,white,#f4f9ff) ;
}

.about-card .btn {
    color: #03045e;
    margin: 20px 0;
    border: none;
}


#programs {
    background-color: rgb(219, 239, 255);
    box-sizing: border-box;
}
#programs h2{
    color: #00043f;
}

#programs img{
    height: 150px;
    object-fit: cover;
    object-position: top;
}

.programs-card {
    background:linear-gradient(180deg,#ffffff,#ffffff);
    border: 1px solid #06005f1f;
    /* padding: 0 5px 30px 5px; */
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    margin-bottom:20px;
    padding: 15px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.041);
}

.programs-card:hover {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.098);
}

.programs-card-details h3 {
    color: #000000;
    font-weight: 600;
    margin-bottom: 5px;
}
.programs-card-details{
    margin-top:15px;
}
.programs-card-details p {
    color: #ffffffab;
    padding-bottom: 10px;
}
.programs-card-desc{
    color: #00010e !important;
}
.programs-header p{
    transform: skewX();
}
#partners{
    background:linear-gradient(rgba(255, 255, 255, 0.856),rgba(255, 255, 255, 0.836)), url('../assets/patterns/background-pattern.jpg');
}
#partners-showcase ion-icon {
    font-size: 100px;
    color: rgb(103, 103, 103);
}

#partners-showcase ion-icon:hover {
    color: #00010e;
}

#partners-showcase {
    width: 100%;
}
#partners-showcase div img{
    width: 100%;
    max-height: 100px;
    object-fit: contain;
}
#learnmore{
    background: linear-gradient(rgba(255, 0, 0, 0.184),rgba(0, 21, 128, 0.64)),url('../assets/pexels-dazzle-jam-1029783.jpg');
    background-size: cover;
    /* background-blend-mode:multiply; */
    background-attachment: fixed;
    color: white;
}
footer{
    background-color: #f5f5f5;
}
footer ul{
    list-style-type: none;
    color:black;
    padding: 0;
}
footer li{
    padding: 5px 0;
}

footer li:hover a{
    color: white;
}
footer a{
    color: rgb(0, 0, 0) !important;
}
.footer-under{
    background-color: #e6e6e6;
    color: rgb(44, 44, 44) !important;
}
.footer-under p{
    margin-bottom: 0;
    font-size: 12px;
    color: rgb(31, 31, 31);
}
.newsletter-form {
    background-color: rgba(255, 255, 255, 0.287);
    /* border-radius: 50px; */
    padding: 5px 15px;
    border: 1px solid black;
}
.newsletter-form p{
    color: #00010e;
}
.newsletter-form .form-control{
    background-color:transparent!important ;
    border: 1px solid black;
    color:white !important;
}

.newsletter-form button{
    border-radius: 5px;
    background-color: #00054d;
    color: white;
    font-size: 10px;
    padding: 5px 15px;
}

.newsletter-form input{
    color: #00010e !important;
}

.newsletter-form input::placeholder{
    color: rgb(36, 36, 36);
    font-weight: lighter;
}

.img-shadow{
    position: absolute;
    background:linear-gradient(rgba(255, 255, 255, 0.26),#ffffff63) ;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    transition: 0.3s ease-out;
    backdrop-filter:blur(15px);
}
.news-head:hover .img-shadow{
    opacity: 1;
}
.team-member-img img{
    min-height: 300px;
    max-height: 300px;
}
.pyb{
    /* background-color: #f4f4ff; */
    padding: 50px 20px !important;
}
#about-us{
    background-color: #86868611 !important;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#about-vision-mission{
    background-color: #86868611 !important;
}
#about-team{
    background-color: #86868611 !important;
}
.active{
    display: block;
}
.hidden{
    display: none;
}
/* custom list item font */
.values ul {
    list-style: none;
    padding: 0;
  }
  .values li {
    padding-left: 1.3em;
  }
  .values li:before {
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
  }
  #priority{
    background-color: #00043f;
    color: white !important;
  }

  i .fa-solid{
    font-family: FontAwesome;
  }
  .carousel-item .sliderImage{
    max-height:740px;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
  }