@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* .serif{
    font-family: serif;
} */
:root{
    --primaryColor: #050A30 ;
    --SecondaryColor: #050A30 ;
    --footer:#1328e7ec;
    /* --tertiaryColor:;
    --textHeader:;
    --text */
}
.swiper {
    width: 600px;
    height: 300px;
}
h2{
    font-family: serif;
}
h3{
    font-size: 20px !important;
}
p{
    font-weight: 300 !important;
    font-size: 14px;
    line-height: 2;
}
img {
    width: 100;
    object-fit: cover;
}
.heading{
    background-color: var(--footer) !important;
}
#news{
    background-color: white;
}

.news-head{
    position: relative;
}
.news-elem {
    background-color: white;    
    margin: 10px;
    /* min-height: 100%; */
}
.news-bottom {
    height: 150px;
    max-height: 200px;
}
.news-bottom h4{
    color:#00043f;
    font-size: 20px !important;
}
.event-body h3{
    font-size: 20px;
    color: #00043f;
}
.event-body p{
    color: #06001be1;
}

@media screen and (max-width:450px) {
    #hero-caption {
        font-size: 60px !important;
    }
    #hero-content {
        padding: 80px 20px !important;
    }
    .navbar-collapse {
        background: linear-gradient(rgba(255, 255, 255, 0.041),rgba(255, 255, 255, 0.024))  !important;
        border-radius: 20px;
        padding: 30px 10px;
        box-sizing: border-box;
        margin-top:30px;
        margin-bottom: 30px;
        transition: 2s ease;
        /* box-shadow: 0 15px 25px #0000002a ; */
    }
    .nav-link{
        border-radius: 10px;
    }
    .navbar-collapse .dropdown-menu{
        background: linear-gradient(0deg,rgba(255, 255, 255, 0.394),rgba(255, 255, 255, 0.04))  !important;
        border-radius: 10px !important;
        color: white !important;
        border-top: 0;
        margin-top: 20px !important;
    }
    .nav-link:hover{
        background: linear-gradient(90deg,#caf0f8e3 100%,transparent) !important;
        /* box-shadow: 0 5px 10px #00043f35; */
    }
    .navbar-collapse .dropdown-item{
        color: white;
    }
    .navbar-toggler{
        background: url('') ;
    }
    p{
        font-size: 13px !important ;
        text-align: justify;
        line-height: 2;
    }
    #about p{
        font-size: 14px !important;
    }
    section{
        padding: 30px !important;
    }
    
}

a {
    text-decoration: none !important;
}

body {
    background-color: ghostwhite !important;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "poppins",sans-serif !important;
}

header {
    background: linear-gradient(0deg,#1328e7ec,#1328e7ec),url('../assets/DSC_1491.jpg');
    /* background-blend-mode:multiply ; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    /* background-blend-mode: multiply; */
}

.nav-brand {
    color: rgb(3, 0, 0);
}

.nav-link {
    padding: 20px !important;
    border-radius: 10px;
    transition: .3s ease-in-out;
    /* background: ; */
}

.nav-link:hover {

    color: #00043f   !important;
}

#hero {
    color: #ffffff;
    min-height: 600px;
    position: relative;
}

#hero h1 {
    font-size: 80px;
    font-weight: 800;
    font-family: "playfair";
}

#hero-content {
    height: 100%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#hero-content p {
    margin-bottom: 40px;
}

#hero-img {
    width: 90%;
}

#hero-img img {
    border-radius: 20px;
    width: 80%;
}
#icon-stack{
    background-color: #00032934;
    border-radius:50px;
    color: #ffffff53;
}
#header-icon-stack{
    background-color: #180874;
    border-radius:0 30px 30px 0;
    padding: 0 15px;
    color: #ffffffb2;
    border: rgba(255, 255, 255, 0.075) 1px solid;
    box-shadow: 0 0 10px#e7e9ff0d ;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 306px;
    transition: 1s ease;
}
#header-icon-stack:hover{
    color: #03045e;
    background-color: #f1f2ff;
}
#header-icon-stack ion-icon:hover{
    font-size: 45px !important;
}
#svg-stroke {
    position: absolute;
    width: 40%;
    left: 0;
    z-index: 0;
}

#hero-caption {
    z-index: 10;
}


#brush {
    /* background-image: url('../assets/brush-stroke-banner-4-onlygfx-dot-com.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100;
    height: 100px;
    position: absolute;
    width: 70%;
    top: 120px;
    left: -40px;
    background-size: contain; */
    display: none;
}

section ion-icon:not(#about ion-icon) {
    transition: 0.5s ease-in-out;
    color: #03045e;
}

.active {
    color: rgba(255, 255, 255, 0.521) !important;
    /* border-bottom: 1px solid yellow; */
}

section {
    padding: 100px 0;
}

#what-we-do h2,
#programs h2,
.partners-title h2 {
    font-weight: 800;
    color: #03045e;
}

#what-we-do h3 {
    color: #03045e;
    
}
#what-we-do .about-img{
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
    height: 300px;
    box-sizing: border-box;

}

#about{
    background:linear-gradient(0deg,#f4f9ff,#f4f9ff) ;
    
}
.about-card {
    transition: 0.5s ease-in-out;
    border: 1px dashed rgba(165, 165, 165, 0.233);
    border-radius: 20px;
    transform-style: preserve-3d;
    perspective: 60deg;
    background:linear-gradient(180deg,white,#f4f9ff)  ;
}

.about-card:hover {
    border: 1px dashed rgba(0, 0, 0, 0.308);
    border-radius: 20px;
    background-color: #ffffff3f;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.098);
    background: linear-gradient(0deg,white,#f4f9ff) ;
}

.about-card .btn {
    color: #03045e;
    margin: 20px 0;
    border: none;
    /* transform: rotateY(240deg); */
    /* transform: rotateX(5deg); */
    /* transform: translateZ(50deg); */
    /* transform: skewY(40deg); */
}


/* #what-we-do .about-card:not(:last-child){
    border-bottom: 1px dashed rgba(0, 0, 0, 0.247);
} */

#programs {
    /* background:linear-gradient(#182a3c,#182a3c),url("../assets/17.jpg"); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    /* background-blend-mode: multiply; */
    background-color: white;
    box-sizing: border-box;
}
#programs h2{
    color: #00043f;
}

.programs-card img {
    width: 100%;
    margin-bottom: 10px 0;
    /* border-radius: 5px; */
    height: 200px;
    object-fit: cover;
    /* box-shadow: 3px 25px 10px rgba(0, 0, 0, 0.057); */
}

.programs-card {
    background:linear-gradient(180deg,#ffffff,#ffffff);
    border: 1px solid #00000025;
    /* padding: 0 5px 30px 5px; */
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.programs-card:hover {
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.098);
}

.programs-card-details {
    padding: 15px;
}

.programs-card-details h3 {
    color: #000000;
    font-weight: 600;
    margin-bottom: 20px;
}

.programs-card-details p {
    color: #ffffffab;
    padding-bottom: 10px;
}
.programs-card-desc{
    color: #00010e !important;
}
#partners{
    background:linear-gradient(white,white);
}
#partners-showcase ion-icon {
    font-size: 100px;
    color: rgb(103, 103, 103);
}

#partners-showcase ion-icon:hover {
    color: #00010e;
}

#partners-showcase {
    width: 100%;
}
#partners-showcase img{
    /* width: 200px !important; */
}
#learnmore{
    background: linear-gradient(rgba(255, 0, 0, 0.184),rgba(0, 21, 128, 0.64)),url('../assets/pexels-dazzle-jam-1029783.jpg');
    background-size: cover;
    background-blend-mode:multiply;
    background-attachment: fixed;
    color: white;
}
footer{
    background-color: #00043f;
}
footer ul{
    list-style-type: none;
    color:white;
    font-weight: 200;
    padding: 0;
}
footer li{
    padding: 10px 0;
}
footer li:hover{
    text-decoration: underline;
    color: white;
}
footer li:hover a{
    color: white;
}
footer a{
    color: rgba(255, 255, 255, 0.716) !important;
}
.footer-under{
    background-color: #00043f;
    color: white;
}
.footer-under p{
    margin-bottom: 0;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.556);
}
.newsletter-form {
    background-color: rgba(255, 255, 255, 0.155);
    /* border-radius: 50px; */
    padding: 10px 15px;
}
.newsletter-form .form-control{
    background-color:transparent!important ;
    border: none;
    color:white !important;
}
.newsletter-form button{
    border-radius: 5px;
    background-color: #00054d;
    color: white;
    font-size: 10px;
    padding: 5px 15px;
}
.newsletter-form input::placeholder{
    color: rgba(255, 255, 255, 0.526);
    font-weight: lighter;
}
.img-shadow{
    position: absolute;
    background:linear-gradient(rgba(255, 255, 255, 0.26),#ffffff63) ;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    transition: 0.3s ease-out;
    backdrop-filter:blur(15px);
}
.news-head:hover .img-shadow{
    opacity: 1;
}